In [1]:
              # SETS #

In [2]:
myset = {1,1,2,2,3,4,5,6,6}      # sets
print(myset)

{1, 2, 3, 4, 5, 6}

In [3]:
myset={"Apple","Banana","Cherry",True,False,0,1,2}
print(myset)

{False, True, 2, 'Apple', 'Banana', 'Cherry'}

In [4]:
thisset={"Shyam","Mohan","Sumit"}
print("Shyam" in thisset)

True

In [5]:
thisset={"Shyam","Mohan","Sumit"}
print("Shyam" not in thisset)

False

In [6]:
thisset = {"Rohan","Varun","Anjali"}
thisset.add("Radha")
print(thisset)

{'Varun', 'Rohan', 'Radha', 'Anjali'}

In [7]:
thisset = {"Rohan","Varun","Anjali"}
mylist = ["Radha","Ram"]
thisset.update(mylist)
print(thisset)

{'Rohan', 'Varun', 'Ram', 'Anjali', 'Radha'}

In [8]:
thisset = {"Rohan","Varun","Anjali"}
thisset.remove("Rohan")
print(thisset)

{'Varun', 'Anjali'}

In [10]:
thisset = {"Rohan","Varun","Anjali"}
thisset.remove("Rohan")
print(thisset)

{'Varun', 'Anjali'}

In [11]:
thisset = {"Rohan","Varun","Anjali"}
x = thisset.pop()
print(thisset)

{'Rohan', 'Anjali'}

In [12]:
thisset = {"Rohan","Varun","Anjali"}
x = thisset.pop()
print(x) #remove item
print(thisset) #The setafter remove

Varun
{'Rohan', 'Anjali'}

In [15]:
# Joning Sets 
set1 = {"Rohan","Varun","Anjali"}     # Union
set2 = {1,2,3}
set3 = {4,5,6}
print(set3)

{4, 5, 6}

In [16]:
set1 = {"Rohan","Varun","Anjali"}    
set2 = {1,2,3}
set3 = {"Motu","Patlu"}
set4 = {"king","Kong"}
largest=set1.union (set2,set3,set4)
print(largest)

{1, 2, 'Rohan', 3, 'Motu', 'Varun', 'Patlu', 'king', 'Anjali', 'Kong'}

In [17]:
# & Oprator
set1 = {"Rohan","Varun","Anjali"}    
set2 = {1,2,3,"Rohan"}
set3 = set1 & set2
print(set3)

{'Rohan'}

In [39]:
# Deffrence Method
set1 = {"Rohan","Varun","Anjali"}    
set2 = {1,2,3,"Rohan"}
set3 = set1.difference(set2)
print(set3)

{'Varun', 'Anjali'}